In [4]:
# imports 
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import psycopg2

In [14]:
#import database from pgadmin
dataset_ref = psycopg2.connect(host="localhost", port = 5432, database="sql-challenge", user="postgres", password="maxine")

In [15]:
#Create a cursor object 
dataset = dataset_ref.cursor()

In [20]:
emp_salary = dataset.execute("""
    SELECT   
    FROM employees AS e 
        INNER JOIN salaries as s
            ON e.id = s.id
    GROUP BY 
    """)
query_results = cur.fetchall()
print(query_results)

AttributeError: 'psycopg2.extensions.connection' object has no attribute 'table'

In [21]:
#Create a bar chart of average salary by title
salarytitle_query = dataset.execute("""
    SELECT AVG(s.salary) AS avg_salary, t.title
    FROM titles AS t 
        INNER JOIN employees AS e
            ON e.emp_title_id = t.title_id
        INNER JOIN salaries s 
           ON e.emp_no = s.emp_no
    GROUP BY t.title 
""")

salary_by_titl

[(473302, 's0001', datetime.date(1953, 7, 25), 'Hideyuki', 'Zallocco', 'M', datetime.date(1990, 4, 28)), (475053, 'e0002', datetime.date(1954, 11, 18), 'Byong', 'Delgrande', 'F', datetime.date(1991, 9, 7)), (57444, 'e0002', datetime.date(1958, 1, 30), 'Berry', 'Babb', 'F', datetime.date(1992, 3, 21)), (421786, 's0001', datetime.date(1957, 9, 28), 'Xiong', 'Verhoeff', 'M', datetime.date(1987, 11, 26)), (282238, 'e0003', datetime.date(1952, 10, 28), 'Abdelkader', 'Baumann', 'F', datetime.date(1991, 1, 18))]